@import './variables';

body{
    background: url('./images/art.jpg') no-repeat center center/cover;
    height: 100vh;
}
.accordion{
    color: white;
    .title, .subtitle{
        display: flex;
        
    }
}